# Application Environment Configuration
PORT=3000

# Primary Domain Configuration (Defaults to https://vacuumcleanerlab.com)
# If set, sitemaps, canonical links, robots.txt, and OpenGraph/Schema tags will use this domain.
# Can be entered with or without https:// (e.g. vacuumcleanerlab.com or https://vacuumcleanerlab.com)
CUSTOM_DOMAIN=https://vacuumcleanerlab.com
